<ul>
    <li *ngFor="let category of jsonData">
        <a routerLink="" [class.activeCategory]="activeCategory === category.category">{{category.category}}</a>
        <ul [class.hide]="activeCategory !== category.category">
            <li *ngFor="let child of category.children; let tabIndex = index">
                <a routerLink="" [class.activeTab]="child.id === activeTab" (click)="onTabListItemClicked(child.id, category.category)">{{child.title}}</a>
            </li>
        </ul>
    </li>
</ul>
<div class="tab-content">
    <app-tab-content *ngFor="let child of children" [tabJSON]="child"
                     [tabChangeSubject]="tabChangeSubject" [tabIndex]="child.id"
                     [class.hide]="child.id !== activeTab"></app-tab-content>
</div>
