<ul>
    <li *ngFor="let category of jsonData">
        <span>{{category.category}}</span>
        <ul>
            <li *ngFor="let child of category.children; let tabIndex = index">
                <a routerLink="" (click)="onTabListItemClicked(child.id)">{{child.title}}</a>
            </li>
        </ul>
    </li>
</ul>
<div class="tab-content">
    <app-tab-content *ngFor="let child of children" [tabJSON]="child"
                     [tabChangeSubject]="tabChangeSubject" [tabIndex]="child.id"
                     [class.hide]="child.id !== activeTab"></app-tab-content>
</div>
