* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

pre code.hljs {
    padding: 0;
    overflow-x: visible;
}

.hljs-tag, .hljs-name, .hljs-selector-tag, .hljs-attribute {
    font-family: monospace;
}

.position-relative {
    position: relative;
}

