@use 'src/assets/css/variables' as *;

:host {
    position: relative;
    display: block;

    .render-container {
        position: absolute;
        width: 100%;
        z-index: 999;
        padding: $padding $padding $padding 0;

        .iframe-container {
            width: $InitialIframeWidth;
            height: $InitialIframeHeight;
            background-color: white;
            resize: both;
            overflow: auto;
            position: relative;
            box-shadow: $brutalBoxShadow;
            border: 1px solid black;

            iframe {
                border: none;
                overflow: hidden;
                height: calc(100% - 13px);
                width: 100%;
            }

        }

        span {
            margin: .75rem 0 .5rem 0;
            display: block;
            font-size: $IframeSizeText;
            font-variant-numeric: tabular-nums;
        }
    }
}
